.oubox{
	margin: 0 auto;
	font-size: 20px;
	text-align: center;
}
.header{
	margin: 0 auto;
	border: 0;
	padding: 0;
	display: flex;
	background-color: grey;
	align-items: center;
}

.flex{
	display: flex
	justify-content:space-between;
	align-content: center;
}
img{
	width:2rem;
	margin:0.1rem;
	padding:0.1rem;
}
a{
	text-decoration: none;
	margin: 0;
	padding: 0; 
}
input{
	outline: none;
	border-radius: 1rem;
	margin: 0.1rem 0.15rem;
	padding: 0.3rem 1rem;
}
#goto{
	margin: 0;
	padding: 0;
	align-items: center;
}
#text{
	margin: -1rem 0.1rem;
	border: 0;
	padding: 0 0.5rem;
	line-height: 2rem;

}
#button{
	width: 4rem;
}
.new{
	margin: 0;
	float: left;
	width: .8rem;
}
p{
	font-size: .8rem;
	margin: 1rem 0;
}
.btn{
	width: 90%;
	margin: 0 auto;
}
.content{
	height: 10rem
}
.footer{
	margin: 1rem 1.2rem;
}